<div class="course-container">
  <mat-card
    *ngFor="let course of courses"
    class="course-card"
    [routerLink]="[course.id]"
  >
    <mat-card-header>
      <mat-card-title>
        {{ course.title }}
      </mat-card-title>
    </mat-card-header>

    <mat-card-content>
      <p><strong>Preço:</strong> R$ {{ course.price }}</p>
      <p><strong>Nível:</strong> {{ course.level }}</p>
    </mat-card-content>

    <mat-card-actions>
      <button mat-button color="primary">
        Ver detalhes
      </button>
    </mat-card-actions>
  </mat-card>
</div>

